#sortpanel
{
	text-align: center;
}

tbody tr {
   line-height: 125px;
   min-height: 125px;
   height: 125px;
  
}

th {
  text-align: center;
}
.heightLine
{
	height: 25px;
}

.vcenter {
  display: inline-block;
  float: none;
  vertical-align: middle;
}

/*---- auth ----*/

#auth input[type="button"]:not(.default), #auth input[type="submit"]:not(.default) 
{
	 -webkit-border-radius: 3px;
	 -webkit-background-clip: padding-box;
	 -moz-border-radius: 3px;
	 -moz-background-clip: padding;
	 border-radius: 3px;
	 background-clip: padding-box;
	 -webkit-transition: color 0.2s ease, border 0.2s ease, background 0.2s ease, -webkit-box-shadow 0.2s ease;
	 -moz-transition: color 0.2s ease, border 0.2s ease, background 0.2s ease, -moz-box-shadow 0.2s ease;
	 -o-transition: color 0.2s ease, border 0.2s ease, background 0.2s ease, box-shadow 0.2s ease;
	 transition: color 0.2s ease, border 0.2s ease, background 0.2s ease, box-shadow 0.2s ease;
	 position: relative;
	 margin: 0 7px;
	 display: inline-block;
	 min-width: 144px;
	 max-width: 100%;
	 padding: 15px 25px;
	 font-family: "Arial", "Helvetica Neue", Arial, Helvetica, sans-serif;
	 font-size: 14px;
	 font-weight: 600;
	 text-transform: uppercase;
	 line-height: 1;
	 border-width: 1px;
	 border-style: solid;
	 background-color: steelblue;
	 color: #ddd;
}

#auth .form 
{
	 zoom: 1;
	 display: block;
	 width: auto;
	 padding: 25px 0 0;
}

#auth .form:before, #auth .form:after 
{
	 content: "";
	 display: table;
}

#auth .form:after 
{
	clear: both;
}

#auth .form .form-group
{
	 zoom: 1;
	 position: relative;
	 margin-bottom: 25px;
}

#auth .form .form-group:before, #auth .form .form-group:after 
{
	 content: "";
	 display: table;
}

#auth .form .form-group:after 
{
 clear: both;
}

#auth .form .form-group:after {
 content: '';
 display: block;
 clear: both;
}

#auth .form .form-group[class*="col-"] input[type=text],
#auth .form .form-group[class*="col-"] input[type=email],
#auth .form .form-group[class*="col-"] input[type=password] 
{
	 display: inline-block;
	 width: 100%;
	 min-width: 0;
	 max-width: 100%;
}

#auth .form .form-control 
{
	 -webkit-border-radius: 0;
	 -webkit-background-clip: padding-box;
	 -moz-border-radius: 0;
	 -moz-background-clip: padding;
	 border-radius: 0;
	 background-clip: padding-box;
	 -webkit-box-shadow: none;
	 -moz-box-shadow: none;
	 box-shadow: none;
	 height: auto;
	 font-size: 17px;
	 font-weight: 300;
	 background-color: #ffffff;
	 border-style: solid;
	 border-width: 1px 1px 1px 3px;
	 border-top-color: #d7d7d7;
	 border-right-color: #d7d7d7;
	 border-bottom-color: #d7d7d7;
}
#auth input[type=text], #auth input[type=email], #auth input[type=password] 
{
	 -webkit-transition: color 0.2s ease, background 0.3s ease;
	 -moz-transition: color 0.2s ease, background 0.3s ease;
	 -o-transition: color 0.2s ease, background 0.3s ease;
	 transition: color 0.2s ease, background 0.3s ease;
	 -webkit-border-radius: 0;
	 -webkit-background-clip: padding-box;
	 -moz-border-radius: 0;
	 -moz-background-clip: padding;
	 border-radius: 0;
	 background-clip: padding-box;
	 -webkit-box-shadow: none;
	 -moz-box-shadow: none;
	 box-shadow: none;
	 margin: 0;
	 vertical-align: top;
	 display: inline-block;
	 width: 100%;
	 font-size: 17px;
	 color: #8d8d8d;
	 background-color: #ffffff;
	 border-style: solid;
	 border-width: 1px 1px 1px 3px;
	 border-top-color: #d7d7d7;
	 border-right-color: #d7d7d7;
	 border-bottom-color: #d7d7d7;
	 outline: none;
}

#auth input[type=text]:hover, #auth input[type=email]:hover, #auth input[type=password]:hover 
{
	color: #000000;
}

#auth input[type=text]:focus, #auth input[type=email]:focus, #auth input[type=password]:focus 
{
 outline: none;
 border-left-color: steelblue;
}

#auth .well h3 {
	 text-shadow: -1px -1px #FFF, -2px -2px #FFF, -1px 1px #FFF, -2px 2px #FFF, 1px 1px #FFF, 2px 2px #FFF, 1px -1px #FFF, 2px -2px #FFF, -3px -3px 2px #BBB, -3px 3px 2px #BBB, 3px 3px 2px #BBB, 3px -3px 2px #BBB;
	 color: steelblue;
	 transition: all 1s;
}

#auth .pd-250
{
	padding-top: 250px;
}
